.a4page {
  width: 595px;
  height: 841px;
  background: white;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headline {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
}

.orange {
  color: orange;
}

.bold {
  font-weight: 700;
}

.content {
  flex: 9;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.sidebar {
  flex: 2;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  line-height: 0.85rem;
  text-align: end;
  font-size: 0.8rem;
}

.sidebarHeadline {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.language {
  font-weight: 600;
}

.languageLevel {
  font-style: italic;
}

.body {
  flex: 7;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
